h1 {
  color: teal;
}
body {
  min-width: 700px;
}
#container {
  border: 1px solid blue;
  padding: 10px;
  margin: 30px;
}
form table {
  width: 600px;
}
form table td {
  text-align: right;
  padding:10px;
}
#tableInfo {
  width: 100%;
}
#tableCats{
  text-decoration: underline;
  text-align: left;
}
